<div class="auth">
  <h1 class="auth__title">Wombat</h1>
  <%= link_to('Gitlab login', '/auth/gitlab', class: "auth__link")%>
  <% unless Rails.env.production? %>
    <br>
    <%= link_to('Developer login', '/auth/developer', class: "auth__link")%>
  <% end %>
</div>
