.App {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

body {
  margin: 0;
}
