.button {
  text-decoration: none;
  color: #C4CDD5;

  display: block;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;

  &:hover {
    color: #637381;
    background: #FCFCFC;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}
