$color-black: #212B36;
$color-grey1: #637381;
$color-grey2: #C4CDD5;
$color-red: #ED6347;


.codemirror-markdown {
  height: 100%;
  margin-left: -69px;
}

.CodeMirror {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  color: #212B36;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";

}

.CodeMirror-wrap pre {
  padding-left: 69px;
}






/* DEFAULT THEME */

//  .cm-header {color: blue;}

.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-strong {font-weight: 800;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

 .cm-keyword {color: #708;}
 .cm-atom {color: #219;}
 .cm-number {color: #164;}
 .cm-def {color: #00f;}
 .cm-variable,
 .cm-punctuation,
 .cm-property,
 .cm-operator {}
 .cm-variable-2 {}
 .cm-variable-3,  .cm-type {color: #085;}
 .cm-comment {color: #a50;}
 .cm-string {color: #a11;}
 .cm-string-2 {color: #f50;}
 .cm-meta {color: #555;}
 .cm-qualifier {color: pink;}
 .cm-builtin {color: #30a;}
 .cm-bracket {color: #997;}
 .cm-tag {color: #170;}
 .cm-attribute {color: #00c;}
 .cm-hr {color: #999;}
 .cm-link {color: $color-red;}

 .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}


.cm {
  &-formatting {
    &-header {
      display: none;
      opacity: 0.1;
    }

    &-list-ul {
      width: 0;
      font-size: 0;

      &:before {
        content: "";
        position: absolute;
        left: 60px;
        bottom: 0;
        color: $color-red;
        font-size: 16px;
        list-style-type: disc;
        display:  list-item;
      }
    }

    &-list-ol {
      position: absolute;
      left: 0;
      color: $color-red;
      width: 60px;
      text-align: right;
    }

    &-quote {
      width: 0;
      font-size: 0;

      &:before {
        content: " ";
        position: absolute;
        left: 52px;
        bottom: 0;
        border-left: 2px solid $color-red;
        font-size: 16px;
      }
    }
  }

  &-header {
    font-weight: 400;
    &:before {
      content: "H1";
      position: absolute;
      left: -9px;
      bottom: 0;
      width: 60px;
      color: $color-grey2;
      text-align: right;
      font-size: 16px;
      line-height: 2em;
      color: $color-red;
    }

    &-1 {
      font-size: 2.2em;
      &:before {
        content: 'H1';
        line-height: 2em;;
      }
    }

    &-2 {
      font-size: 1.75em;
      &:before {
        content: 'H2';
        line-height: 1.75em;
      }
    }

    &-3 {
      font-size: 1.5em;
      &:before {
        content: 'H3';
        line-height: 1.5em;
      }
    }

    &-4 {
      font-size: 1.3em;
      &:before {
        content: 'H4';
        line-height: 1.3em;
      }
    }

    &-5 {
      font-size: 1.2em;
      &:before {
        content: 'H5';
        line-height: 1.2em;
      }
    }

    &-6 {
      font-size: 1.15em;
      &:before {
        content: 'H6';
        line-height: 1.15em;
      }
    }
  }

  &-variable-2 {

  }

  &-property {
    color: $color-red;
  }
 &-meta {
   color: $color-grey1;
  }

  &-quote {
    color: $color-grey2;
    font-style: italic;

  }

  &-comment {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    background: white;
    // border: 1px solid $color-grey2;
    color: $color-grey1;
  }
}
