.editor {
  flex: auto;
  background: #FCFCFC;
  overflow: auto;
  position: relative;

  &__container {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 600px;
  }

  &__path {
    width: 100%;
    flex: 0 0 auto;
    height: 64px;
    border: none;
    background: transparent;
    font-size: 16px;
    color: 212B36;
  }

  &__content {
    width: 100%;
    flex: 1 1 auto;
  }

  &__lock {
    position: fixed;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    background: #637381;
    z-index: 10;
  }
}
