$text-color: #637381;
$title-color: #212B36;
$border-color: #C4CDD5;
$selected-color: #ED6347;
.entry {
  padding: 24px 30px;
  height: 120px;
  box-sizing: border-box;
  color: $text-color;
  font-size: 14px;
  line-height: 22px;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;

  &__title{
    color: $title-color;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__content{
    font-size: 12px;
    height: 48px;
    overflow: hidden;
      text-overflow: ellipsis;

  }

  &--selected {
    background: #FCFCFC;
    border-left: 3px solid $selected-color;
    padding-left: 27px;
    border-right: 1px solid transparent;
  }
}
