.path {
  flex: 0 0 auto;
  height: 64px;
  position: relative;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;

  &:before {
    content: '//';
    line-height: 64px;
  }

  &__input,
  &__typeahead {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #637381;
    line-height: 64px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0 0 0 20px;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  }

  &__typeahead {
    z-index: 1;
    color: #C4CDD5;
  }
}
