$placeholder-color: #C4CDD5;
$border-color: #C4CDD5;

.search {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  line-height: 64px;
  padding: 0 30px;
  box-sizing: border-box;


  &__input {
    border: none;
    background: transparent;
    font-size: 16px;
    color: 212B36;
    padding-left: 6px;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $placeholder-color;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $placeholder-color;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $placeholder-color;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $placeholder-color;
    }
  }

  &__icon {
    color: $placeholder-color;
    vertical-align: middle;
  }
}
