.tag {
  line-height:  24px;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;

  &:before {
    content: '#'
  }

  &--selected {
    color: white;
  }
  position: relative;
}

.subtags {
  padding-left: 15px;
}
