.tags {
  flex: 0 0 180px;
  background: #212B36;
  color: #637381;
  cursor: pointer;
  padding: 0 30px 15px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &__header {
    font-size: 24px;
    line-height: 64px;
    margin-bottom: 24px;
  }
}
