.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: #212B36;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #637381;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";

  &__title {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0;
  }

  &__link {
    text-decoration: none;
    color: #637381;
    display: block;
    width: 200px;
    text-align: center;
    line-height:  24px;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;

    &:hover {
      color: white;
    }
  }
}
