<!DOCTYPE html>
<html>
  <head>
    <title>Wombat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:400,800", media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_react' %>
    <%= stylesheet_pack_tag 'hello_react' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
